<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>To get the JSON file of the parsed User-Agent Header go to</p>
<p>{{url}}</p>
<br>
<h3>Ip : {{userAgent.ip}}</h3>
<h3>Browser : {{userAgent.browser.name}}</h3>
<h3>OS : {{userAgent.os.name}}</h3>
<h3>Languange : {{userAgent.language}}</h3>

